Repository wireapp/wire-android, pull requests merged in 2020-01, with the labels that each got.

#2514 Gradle with Kotlin DSL: Dependencies Re-organization/Refactor
  .gitignore
  app/build.gradle
  build.gradle
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/Dependencies.kt
  buildSrc/src/main/kotlin/DependencyMap.kt
  storage/build.gradle
  wire-android-sync-engine/macrosupport/build.gradle
  wire-android-sync-engine/zmessaging/build.gradle
Labels: Kotlin Migration

#2510 Kotlin network framework part2
  app/src/main/AndroidManifest.xml
  app/src/main/kotlin/com/waz/zclient/core/di/NetworkModule.kt
  app/src/main/kotlin/com/waz/zclient/core/network/AccessTokenLocalDataSource.kt
  app/src/main/kotlin/com/waz/zclient/core/network/AccessTokenRemoteDataSource.kt
  app/src/main/kotlin/com/waz/zclient/core/network/AccessTokenRepository.kt
  app/src/main/kotlin/com/waz/zclient/core/network/ApiService.kt
  app/src/main/kotlin/com/waz/zclient/core/network/AuthTokenHandler.kt
  app/src/main/kotlin/com/waz/zclient/core/network/ClientsRepositorySample.kt
  app/src/main/kotlin/com/waz/zclient/core/network/RawResponseRegistry.kt
  app/src/main/kotlin/com/waz/zclient/core/network/api/client/ClientsService.kt
  app/src/main/kotlin/com/waz/zclient/core/network/api/token/AccessTokenResponse.kt
  app/src/main/kotlin/com/waz/zclient/core/network/api/token/TokenApi.kt
  app/src/main/kotlin/com/waz/zclient/core/network/api/token/TokenService.kt
  app/src/main/kotlin/com/waz/zclient/di/Injector.kt
  app/src/main/kotlin/com/waz/zclient/settings/main/SettingsMainFragment.kt
  app/src/main/res/xml/network_security_config.xml
  app/src/main/scala/com/waz/zclient/preferences/pages/ProfileView.scala
  app/src/test/kotlin/com/waz/zclient/core/network/AccessTokenRemoteDataSourceTest.kt
  app/src/test/kotlin/com/waz/zclient/core/network/AccessTokenRepositoryTest.kt
  app/src/test/kotlin/com/waz/zclient/core/network/ApiServiceTest.kt
  app/src/test/kotlin/com/waz/zclient/core/network/AuthTokenHandlerTest.kt
  app/src/test/kotlin/com/waz/zclient/core/network/RawResponseRegistryTest.kt
  app/src/test/kotlin/com/waz/zclient/core/network/api/token/TokenServiceTest.kt
  storage/src/main/kotlin/com/waz/zclient/storage/extension/SharedPreference.kt
  storage/src/main/kotlin/com/waz/zclient/storage/pref/GlobalPreferences.kt
Labels: Kotlin Migration, Work In Progress

#2501 Feature Request: Shortcuts from home screen (New message, New Group Conversation, Share Photo)
  app/src/main/AndroidManifest.xml
  app/src/main/kotlin/com/waz/zclient/shortcuts/Shortcuts.kt
  app/src/main/res/drawable/ic_create_conversation.xml
  app/src/main/res/drawable/ic_create_group.xml
  app/src/main/res/drawable/ic_share_photo.xml
  app/src/main/res/layout/fragment_collection_share.xml
  app/src/main/res/values/strings.xml
  app/src/main/scala/com/waz/zclient/MainActivity.scala
  app/src/main/scala/com/waz/zclient/ShareActivity.scala
  app/src/main/scala/com/waz/zclient/common/controllers/SharingController.scala
  app/src/main/scala/com/waz/zclient/pages/main/MainPhoneFragment.scala
  app/src/main/scala/com/waz/zclient/sharing/ConversationSelectorFragment.scala
Labels: enhancement, feature request

#2530 Reactive approach with Kotlin Flow API (Part 1)
  app/src/main/kotlin/com/waz/zclient/core/exception/Failure.kt
  app/src/main/kotlin/com/waz/zclient/core/network/Network.kt
  app/src/main/kotlin/com/waz/zclient/core/ui/dialog/EditTextDialogFragment.kt
  app/src/main/kotlin/com/waz/zclient/core/ui/list/ItemListeners.kt
  app/src/main/kotlin/com/waz/zclient/core/usecase/ObservableUseCase.kt
  app/src/main/kotlin/com/waz/zclient/settings/account/SettingsAccountFragment.kt
  app/src/main/kotlin/com/waz/zclient/settings/account/SettingsAccountViewModel.kt
  app/src/main/kotlin/com/waz/zclient/settings/account/di/SettingsAccountModule.kt
  app/src/main/kotlin/com/waz/zclient/settings/devices/list/SettingsDeviceListFragment.kt
  app/src/main/kotlin/com/waz/zclient/settings/devices/list/adapter/DevicesRecyclerViewAdapter.kt
  app/src/main/kotlin/com/waz/zclient/settings/main/SettingsMainFragment.kt
  app/src/main/kotlin/com/waz/zclient/settings/main/list/SettingsMainListAdapter.kt
  app/src/main/kotlin/com/waz/zclient/user/data/UsersDataSource.kt
  app/src/main/kotlin/com/waz/zclient/user/data/UsersRepository.kt
  app/src/main/kotlin/com/waz/zclient/user/data/mapper/UserMapper.kt
  app/src/main/kotlin/com/waz/zclient/user/data/source/local/UsersLocalDataSource.kt
  app/src/main/kotlin/com/waz/zclient/user/data/source/remote/UsersNetworkService.kt
  app/src/main/kotlin/com/waz/zclient/user/data/source/remote/UsersRemoteDataSource.kt
  app/src/main/kotlin/com/waz/zclient/user/data/source/remote/model/UserApi.kt
  app/src/main/kotlin/com/waz/zclient/user/domain/model/User.kt
  app/src/main/kotlin/com/waz/zclient/user/domain/usecase/ChangeNameUseCase.kt
  app/src/main/kotlin/com/waz/zclient/user/domain/usecase/GetUserProfileUseCase.kt
  app/src/main/res-v2/layout/dialog_fragment_edit_text.xml
  app/src/test/kotlin/com/waz/zclient/settings/account/SettingsAccountViewModelTest.kt
  app/src/test/kotlin/com/waz/zclient/user/data/UserRepositoryTest.kt
  app/src/test/kotlin/com/waz/zclient/user/data/source/local/UserLocalDataSourceTest.kt
  app/src/test/kotlin/com/waz/zclient/user/data/source/remote/UserRemoteDataSourceTest.kt
  app/src/test/kotlin/com/waz/zclient/user/domain/usecase/ChangeNameUseCaseTest.kt
  app/src/test/kotlin/com/waz/zclient/user/domain/usecase/GetUserProfileUseCaseTest.kt
  storage/src/main/kotlin/com/waz/zclient/storage/db/users/service/UserDbService.kt
Labels: Kotlin Migration

#2539 Reactive approach with Kotlin Flow API (Part 2)
  app/src/main/kotlin/com/waz/zclient/user/data/source/remote/UsersNetworkService.kt
  app/src/main/kotlin/com/waz/zclient/user/data/source/remote/UsersRemoteDataSource.kt
  app/src/test/kotlin/com/waz/zclient/user/data/source/local/UserLocalDataSourceTest.kt
  app/src/test/kotlin/com/waz/zclient/user/data/source/remote/UserRemoteDataSourceTest.kt
Labels: Kotlin Migration

#2532 Testing gallery 7.0 Minor Refactor and Tests
  testing_gallery/build.gradle
  testing_gallery/src/main/java/com/wire/testinggallery/CaptureDocumentActivity.java
  testing_gallery/src/main/java/com/wire/testinggallery/MainActivity.java
  testing_gallery/src/main/java/com/wire/testinggallery/models/Audio.java
  testing_gallery/src/main/java/com/wire/testinggallery/models/FileType.java
  testing_gallery/src/main/java/com/wire/testinggallery/utils/FileUtils.java
  testing_gallery/src/test/java/com/wire/testinggallery/AndroidTest.java
  testing_gallery/src/test/java/com/wire/testinggallery/UnitTest.java
  testing_gallery/src/test/java/com/wire/testinggallery/models/AudioTest.java
  testing_gallery/src/test/java/com/wire/testinggallery/models/VideoTest.java
  testing_gallery/src/test/java/com/wire/testinggallery/utils/FileUtilsTest.java
Labels: QA

#2542 Reactive approach with Kotlin Flow API (Part 4)
  app/src/main/kotlin/com/waz/zclient/core/exception/Failure.kt
  app/src/main/kotlin/com/waz/zclient/core/network/Network.kt
  app/src/main/kotlin/com/waz/zclient/core/ui/dialog/EditTextDialogFragment.kt
  app/src/main/kotlin/com/waz/zclient/core/usecase/ObservableUseCase.kt
  app/src/main/kotlin/com/waz/zclient/settings/account/SettingsAccountFragment.kt
  app/src/main/kotlin/com/waz/zclient/settings/account/SettingsAccountViewModel.kt
  app/src/main/kotlin/com/waz/zclient/settings/account/di/SettingsAccountModule.kt
  app/src/main/kotlin/com/waz/zclient/settings/account/model/UserProfileItem.kt
  app/src/main/kotlin/com/waz/zclient/user/data/source/remote/UsersNetworkService.kt
  app/src/main/kotlin/com/waz/zclient/user/data/source/remote/UsersRemoteDataSource.kt
  app/src/main/scala/com/waz/zclient/preferences/pages/ProfileView.scala
  app/src/test/kotlin/com/waz/zclient/UnitTestSuite.kt
  app/src/test/kotlin/com/waz/zclient/settings/account/SettingsAccountViewModelTest.kt
  app/src/test/kotlin/com/waz/zclient/user/data/UserRepositoryTest.kt
  app/src/test/kotlin/com/waz/zclient/user/data/source/local/UserLocalDataSourceTest.kt
  app/src/test/kotlin/com/waz/zclient/user/data/source/remote/UserRemoteDataSourceTest.kt
Labels: Kotlin Migration

#2541 Kotlin network rewrite part4: Add data models for access token and refresh token
  app/src/main/kotlin/com/waz/zclient/core/di/NetworkModule.kt
  app/src/main/kotlin/com/waz/zclient/core/network/AccessTokenLocalDataSource.kt
  app/src/main/kotlin/com/waz/zclient/core/network/AccessTokenRepository.kt
  app/src/main/kotlin/com/waz/zclient/core/network/AuthTokenHandler.kt
  app/src/main/kotlin/com/waz/zclient/core/network/accesstoken/AccessToken.kt
  app/src/main/kotlin/com/waz/zclient/core/network/accesstoken/AccessTokenAuthenticator.kt
  app/src/main/kotlin/com/waz/zclient/core/network/accesstoken/AccessTokenInterceptor.kt
  app/src/main/kotlin/com/waz/zclient/core/network/accesstoken/AccessTokenLocalDataSource.kt
  app/src/main/kotlin/com/waz/zclient/core/network/accesstoken/AccessTokenPreference.kt
  app/src/main/kotlin/com/waz/zclient/core/network/accesstoken/AccessTokenRemoteDataSource.kt
  app/src/main/kotlin/com/waz/zclient/core/network/accesstoken/AccessTokenRepository.kt
  app/src/main/kotlin/com/waz/zclient/core/network/accesstoken/RefreshToken.kt
  app/src/test/kotlin/com/waz/zclient/core/network/AccessTokenRepositoryTest.kt
  app/src/test/kotlin/com/waz/zclient/core/network/AuthTokenHandlerTest.kt
  app/src/test/kotlin/com/waz/zclient/core/network/accesstoken/AccessTokenAuthenticatorTest.kt
  app/src/test/kotlin/com/waz/zclient/core/network/accesstoken/AccessTokenInterceptorTest.kt
  app/src/test/kotlin/com/waz/zclient/core/network/accesstoken/AccessTokenMapperTest.kt
  app/src/test/kotlin/com/waz/zclient/core/network/accesstoken/AccessTokenRemoteDataSourceTest.kt
  app/src/test/kotlin/com/waz/zclient/core/network/accesstoken/AccessTokenRepositoryTest.kt
  app/src/test/kotlin/com/waz/zclient/core/network/accesstoken/RefreshTokenMapperTest.kt
  app/src/test/kotlin/com/waz/zclient/core/network/accesstoken/RefreshTokenTest.kt
  storage/build.gradle
  storage/src/main/kotlin/com/waz/zclient/storage/di/StorageModule.kt
  storage/src/main/kotlin/com/waz/zclient/storage/extension/SharedPreference.kt
  storage/src/main/kotlin/com/waz/zclient/storage/pref/UserPreferences.kt
  storage/src/test/kotlin/com/waz/zclient/storage/pref/MockitoKotlin.kt
  storage/src/test/kotlin/com/waz/zclient/storage/pref/UserPreferencesTest.kt
  storage/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Labels: Kotlin Migration

#2549 Change handle fragment - DataSources + UseCases + Skeleton ViewModel/Fragment (Part 1)
  app/src/main/kotlin/com/waz/zclient/core/exception/Failure.kt
  app/src/main/kotlin/com/waz/zclient/core/ui/text/TextChangedListener.kt
  app/src/main/kotlin/com/waz/zclient/di/Injector.kt
  app/src/main/kotlin/com/waz/zclient/settings/account/SettingsAccountFragment.kt
  app/src/main/kotlin/com/waz/zclient/settings/account/SettingsAccountViewModel.kt
  app/src/main/kotlin/com/waz/zclient/settings/account/di/SettingsAccountModule.kt
  app/src/main/kotlin/com/waz/zclient/settings/account/edithandle/EditHandleFragment.kt
  app/src/main/kotlin/com/waz/zclient/settings/account/edithandle/EditHandleViewModel.kt
  app/src/main/kotlin/com/waz/zclient/settings/main/SettingsMainActivity.kt
  app/src/main/kotlin/com/waz/zclient/settings/main/SettingsMainFragment.kt
  app/src/main/kotlin/com/waz/zclient/user/data/UsersDataSource.kt
  app/src/main/kotlin/com/waz/zclient/user/data/UsersRepository.kt
  app/src/main/kotlin/com/waz/zclient/user/data/source/remote/UsersNetworkService.kt
  app/src/main/kotlin/com/waz/zclient/user/data/source/remote/UsersRemoteDataSource.kt
  app/src/main/kotlin/com/waz/zclient/user/domain/usecase/handle/ChangeHandleUseCase.kt
  app/src/main/kotlin/com/waz/zclient/user/domain/usecase/handle/CheckHandleExistsUseCase.kt
  app/src/main/kotlin/com/waz/zclient/user/domain/usecase/handle/GetHandleUseCase.kt
  app/src/main/kotlin/com/waz/zclient/user/domain/usecase/handle/HandleValidation.kt
  app/src/main/kotlin/com/waz/zclient/user/domain/usecase/handle/ValidateHandleUseCase.kt
  app/src/main/res-v2/layout/fragment_edit_handle_dialog.xml
  app/src/test/kotlin/com/waz/zclient/settings/account/SettingsAccountViewModelTest.kt
  app/src/test/kotlin/com/waz/zclient/user/data/UserRepositoryTest.kt
  app/src/test/kotlin/com/waz/zclient/user/data/source/remote/UserRemoteDataSourceTest.kt
  app/src/test/kotlin/com/waz/zclient/user/domain/usecase/ChangeHandleUseCaseTest.kt
  app/src/test/kotlin/com/waz/zclient/user/domain/usecase/handle/CheckHandleExistsUseCaseTest.kt
  app/src/test/kotlin/com/waz/zclient/user/domain/usecase/handle/GetHandleUseCaseTest.kt
  app/src/test/kotlin/com/waz/zclient/user/domain/usecase/handle/ValidateHandleUseCaseTest.kt
Labels: Kotlin Migration

#2551 Change Handle Fragment - ViewModel logic + UI (Part 2)
  app/build.gradle
  app/src/main/kotlin/com/waz/zclient/settings/account/SettingsAccountFragment.kt
  app/src/main/kotlin/com/waz/zclient/settings/account/SettingsAccountViewModel.kt
  app/src/main/kotlin/com/waz/zclient/settings/account/di/SettingsAccountModule.kt
  app/src/main/kotlin/com/waz/zclient/settings/account/edithandle/EditHandleFragment.kt
  app/src/main/kotlin/com/waz/zclient/settings/account/edithandle/EditHandleViewModel.kt
  app/src/main/kotlin/com/waz/zclient/user/di/UsersModule.kt
  app/src/main/res/anim/shake_animation.xml
  app/src/test/kotlin/com/waz/zclient/UnitTest.kt
  app/src/test/kotlin/com/waz/zclient/settings/account/SettingsAccountViewModelTest.kt
  app/src/test/kotlin/com/waz/zclient/settings/account/edithandle/EditHandleViewModelTest.kt
  app/src/test/kotlin/com/waz/zclient/user/domain/usecase/handle/ValidateHandleUseCaseTest.kt
  buildSrc/src/main/kotlin/Dependencies.kt
Labels: Kotlin Migration, Work In Progress

#2557 Change handle fragment (Part 3)
  app/src/main/kotlin/com/waz/zclient/core/exception/Failure.kt
  app/src/main/kotlin/com/waz/zclient/core/network/SafeApiDataSource.kt
  app/src/main/kotlin/com/waz/zclient/settings/account/SettingsAccountFragment.kt
  app/src/main/kotlin/com/waz/zclient/settings/account/SettingsAccountViewModel.kt
  app/src/main/kotlin/com/waz/zclient/settings/account/di/SettingsAccountModule.kt
  app/src/main/kotlin/com/waz/zclient/settings/account/edithandle/EditHandleFragment.kt
  app/src/main/kotlin/com/waz/zclient/settings/account/edithandle/EditHandleViewModel.kt
  app/src/main/kotlin/com/waz/zclient/user/data/UsersDataSource.kt
  app/src/main/kotlin/com/waz/zclient/user/data/mapper/UserMapper.kt
  app/src/main/kotlin/com/waz/zclient/user/data/source/remote/UsersNetworkService.kt
  app/src/main/kotlin/com/waz/zclient/user/data/source/remote/UsersRemoteDataSource.kt
  app/src/main/kotlin/com/waz/zclient/user/domain/usecase/handle/GetHandleUseCase.kt
  app/src/main/kotlin/com/waz/zclient/user/domain/usecase/handle/HandleValidation.kt
  app/src/main/kotlin/com/waz/zclient/user/domain/usecase/handle/ValidateHandleUseCase.kt
  app/src/main/res-v2/layout/fragment_edit_handle_dialog.xml
  app/src/main/res-v2/layout/fragment_settings_account.xml
  app/src/main/res-v2/values/styles.xml
  app/src/main/res/values/integers.xml
  app/src/main/res/values/strings.xml
  app/src/test/kotlin/com/waz/zclient/TestModels.kt
  app/src/test/kotlin/com/waz/zclient/devices/domain/GetAllClientsUseCaseTest.kt
  app/src/test/kotlin/com/waz/zclient/settings/account/SettingsAccountViewModelTest.kt
  app/src/test/kotlin/com/waz/zclient/settings/account/edithandle/EditHandleViewModelTest.kt
  app/src/test/kotlin/com/waz/zclient/user/data/UserRepositoryTest.kt
  app/src/test/kotlin/com/waz/zclient/user/data/mapper/UserMapperTest.kt
  app/src/test/kotlin/com/waz/zclient/user/data/source/local/UserLocalDataSourceTest.kt
  app/src/test/kotlin/com/waz/zclient/user/data/source/remote/UserRemoteDataSourceTest.kt
  app/src/test/kotlin/com/waz/zclient/user/domain/usecase/ChangeEmailUseCaseTest.kt
  app/src/test/kotlin/com/waz/zclient/user/domain/usecase/ChangeHandleUseCaseTest.kt
  app/src/test/kotlin/com/waz/zclient/user/domain/usecase/ChangeNameUseCaseTest.kt
  app/src/test/kotlin/com/waz/zclient/user/domain/usecase/ChangePhoneUseCaseTest.kt
  app/src/test/kotlin/com/waz/zclient/user/domain/usecase/handle/GetHandleUseCaseTest.kt
  app/src/test/kotlin/com/waz/zclient/user/domain/usecase/handle/ValidateHandleUseCaseTest.kt
  storage/src/main/kotlin/com/waz/zclient/storage/db/users/migration/UserDatabaseMigration.kt
  storage/src/main/kotlin/com/waz/zclient/storage/db/users/model/UserDao.kt
  storage/src/main/kotlin/com/waz/zclient/storage/di/StorageModule.kt
Labels: Kotlin Migration

#2568 Settings Account: Style guide updates
  app/src/main/kotlin/com/waz/zclient/settings/account/SettingsAccountFragment.kt
  app/src/main/kotlin/com/waz/zclient/settings/account/SettingsAccountViewModel.kt
  app/src/main/res-v2/layout/fragment_settings_account.xml
  app/src/test/kotlin/com/waz/zclient/settings/account/SettingsAccountViewModelTest.kt
Labels: Kotlin Migration

#2396 fix: read receipts now match the spec
  wire-android-sync-engine/zmessaging/src/main/scala/com/waz/model/ConversationData.scala
  wire-android-sync-engine/zmessaging/src/main/scala/com/waz/service/conversation/ConversationsUiService.scala
  wire-android-sync-engine/zmessaging/src/test/scala/com/waz/service/conversation/ConversationsUiServiceSpec.scala
Labels: size/L

#2567 [Feature] Linear onboarding with custom backend - Milestone 1
  app/src/main/AndroidManifest.xml
  app/src/main/kotlin/com/waz/zclient/auth/AuthenticationActivity.kt
  app/src/main/kotlin/com/waz/zclient/auth/WelcomeFragment.kt
  app/src/main/kotlin/com/waz/zclient/core/config/Config.kt
  app/src/main/kotlin/com/waz/zclient/core/extension/Fragment.kt
  app/src/main/res-v2/drawable/blue_rounded_button.xml
  app/src/main/res-v2/drawable/dark_gray_rounded_button.xml
  app/src/main/res-v2/drawable/light_gray_blue_rounded_button.xml
  app/src/main/res-v2/layout/activity_authentication.xml
  app/src/main/res-v2/layout/fragment_welcome.xml
  app/src/main/res-v2/values/colors.xml
  app/src/main/res-v2/values/dimens.xml
  app/src/main/res/layout/activity_transparent_sso.xml
  app/src/main/res/layout/app_entry_scene.xml
  app/src/main/res/layout/fragment_transparent_sso.xml
  app/src/main/res/layout/sign_in_email_scene.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/themes.xml
  app/src/main/scala/com/waz/zclient/InputDialog.scala
  app/src/main/scala/com/waz/zclient/LaunchActivity.scala
  app/src/main/scala/com/waz/zclient/appentry/AppEntryActivity.scala
  app/src/main/scala/com/waz/zclient/appentry/AppLaunchFragment.scala
  app/src/main/scala/com/waz/zclient/appentry/CreateTeamFragment.scala
  app/src/main/scala/com/waz/zclient/appentry/FragmentTransactionHelper.scala
  app/src/main/scala/com/waz/zclient/appentry/SSOFragment.scala
  app/src/main/scala/com/waz/zclient/appentry/TransparentSSOActivity.scala
  app/src/main/scala/com/waz/zclient/appentry/TransparentSSOFragment.scala
  app/src/main/scala/com/waz/zclient/appentry/fragments/InviteToTeamFragment.scala
  app/src/main/scala/com/waz/zclient/appentry/fragments/SignInFragment.scala
  app/src/main/scala/com/waz/zclient/preferences/pages/ProfileView.scala
Labels: size/XL

#2565 Edit Phone dialog (Part 1)
  app/src/main/kotlin/com/waz/zclient/core/permissions/extension/Permissions.kt
  app/src/main/kotlin/com/waz/zclient/settings/account/SettingsAccountFragment.kt
  app/src/main/kotlin/com/waz/zclient/settings/account/SettingsAccountViewModel.kt
  app/src/main/kotlin/com/waz/zclient/settings/account/di/SettingsAccountModule.kt
  app/src/main/kotlin/com/waz/zclient/settings/account/phonenumber/editphone/EditPhoneDialogFragment.kt
  app/src/main/kotlin/com/waz/zclient/settings/account/phonenumber/editphone/EditPhoneNumberViewModel.kt
  app/src/main/kotlin/com/waz/zclient/user/domain/usecase/phonenumber/ChangePhoneNumberUseCase.kt
  app/src/main/kotlin/com/waz/zclient/user/domain/usecase/phonenumber/ValidatePhoneNumberUseCase.kt
  app/src/main/res-v2/layout/dialog_fragment_edit_phone.xml
  app/src/main/res/values/integers.xml
  app/src/main/res/values/strings.xml
  app/src/test/kotlin/com/waz/zclient/settings/account/SettingsAccountViewModelTest.kt
  app/src/test/kotlin/com/waz/zclient/user/domain/usecase/handle/ChangeHandleUseCaseTest.kt
  app/src/test/kotlin/com/waz/zclient/user/domain/usecase/phonenumber/ChangePhoneNumberUseCaseTest.kt
  app/src/test/kotlin/com/waz/zclient/user/domain/usecase/phonenumber/ValidatePhoneNumberUseCaseTest.kt
Labels: Kotlin Migration, size/L

#2576 AN-6612: Fixed the issue for Android 10 < devices for when we're declaring imp…
  app/src/main/AndroidManifest.xml
  app/src/main/scala/com/waz/services/calling/CallingNotificationsService.scala
  app/src/main/scala/com/waz/zclient/calling/CallingActivity.scala
  app/src/main/scala/com/waz/zclient/notifications/controllers/CallingNotificationsController.scala
Labels: size/S

#2574 Personal accounts should not see the Delete Group option
  app/src/main/scala/com/waz/zclient/participants/ConversationOptionsMenuController.scala
Labels: size/XS

#2570 Feature: Linear onboarding - milestone 2 - Part 1
  app/src/main/res/layout/dialog_with_input_field.xml
  app/src/main/res/values/strings.xml
  app/src/main/scala/com/waz/zclient/InputDialog.scala
  app/src/main/scala/com/waz/zclient/appentry/SSOFragment.scala
  wire-android-sync-engine/zmessaging/src/main/scala/com/waz/model2/transport/responses/DomainVerificationResponse.scala
  wire-android-sync-engine/zmessaging/src/main/scala/com/waz/service/SSOService.scala
  wire-android-sync-engine/zmessaging/src/main/scala/com/waz/sync/client/LoginClient.scala
  wire-android-sync-engine/zmessaging/src/test/scala/com/waz/model2/transport/responses/DomainVerificationResponseSpec.scala
  wire-android-sync-engine/zmessaging/src/test/scala/com/waz/service/SSOServiceSpec.scala
Labels: size/L

#2580 Edit phone dialog (Part 2)
  app/src/main/kotlin/com/waz/zclient/core/ui/dialog/EditTextDialogFragment.kt
  app/src/main/kotlin/com/waz/zclient/settings/account/SettingsAccountFragment.kt
  app/src/main/kotlin/com/waz/zclient/settings/account/SettingsAccountViewModel.kt
  app/src/main/kotlin/com/waz/zclient/settings/account/di/SettingsAccountModule.kt
  app/src/main/kotlin/com/waz/zclient/settings/account/phonenumber/editphone/DeletePhoneDialogFragment.kt
  app/src/main/kotlin/com/waz/zclient/settings/account/phonenumber/editphone/EditPhoneDialogFragment.kt
  app/src/main/kotlin/com/waz/zclient/settings/account/phonenumber/editphone/EditPhoneNumberViewModel.kt
  app/src/main/kotlin/com/waz/zclient/settings/account/phonenumber/editphone/SettingsAccountPhoneNumberViewModel.kt
  app/src/main/kotlin/com/waz/zclient/settings/account/phonenumber/editphone/UpdatePhoneDialogFragment.kt
  app/src/main/kotlin/com/waz/zclient/user/data/UsersDataSource.kt
  app/src/main/kotlin/com/waz/zclient/user/data/UsersRepository.kt
  app/src/main/kotlin/com/waz/zclient/user/data/source/local/UsersLocalDataSource.kt
  app/src/main/kotlin/com/waz/zclient/user/data/source/remote/UsersNetworkService.kt
  app/src/main/kotlin/com/waz/zclient/user/data/source/remote/UsersRemoteDataSource.kt
  app/src/main/kotlin/com/waz/zclient/user/domain/usecase/phonenumber/CountryCodeAndPhoneNumberUseCase.kt
  app/src/main/kotlin/com/waz/zclient/user/domain/usecase/phonenumber/DeletePhoneNumberUseCase.kt
  app/src/main/kotlin/com/waz/zclient/user/domain/usecase/phonenumber/PhoneNumberErrors.kt
  app/src/main/kotlin/com/waz/zclient/user/domain/usecase/phonenumber/ValidatePhoneNumberUseCase.kt
  app/src/main/res-v2/layout/dialog_fragment_edit_phone.xml
  storage/src/main/kotlin/com/waz/zclient/storage/db/users/migration/UserDatabaseMigration.kt
  storage/src/main/kotlin/com/waz/zclient/storage/di/StorageModule.kt
Labels: Kotlin Migration, size/XL

#2584 Copy change to help with translation around the edit username changes
  app/src/main/res/values/strings.xml
Labels: size/XS
